.text-header {
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color: #f6f6f6;
}

.container-diskon {
    height: 400px;
    width: 300px;
}

.diskon-data {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    height: 100px;
    cursor: pointer;
}

.diskon-data.disabled {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}


.diskon-data:hover {
    transform: scale(1);
    /* border: 1px solid #878787;
    -moz-border-radius: 3px;
    border-radius: 3px; */
}

.diskon-data.selected {
    border: 1px solid #32a24e;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.diskon-data.unselected {
    /* opacity:0.6;
	filter:alpha(opacity=60); */
}

.diskon-row {
    height: 100%;
}



.disc-persen {
    background-color: #1cc88a;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    justify-content: center;
}

.disc-text {
    font-family: 'Poppins', sans-serif;
}

.disc-text .min-ongkir {
    font-size: 10px;
}

.name-disc {
    margin-top: 25px;
}

#jarak1,
#ongkir,
#biayarq,
#total {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background: transparent;
    border: none;
    width: inherit;
    pointer-events: none;
}

.diskon-input {
    margin-top: 10px;
}

.icon-vcr {
    width: 25px;
    height: 25px;
    display: inline;
}

.icon-selected-discount {
/* background-image: url('{{asset(images/tick.png)}}'); */
    width: 25px;
    height: 25px;
    justify-content: center;

}

#diskon {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background: transparent;
    float: right;
    margin-top: -1px;
    margin-right: 5px;
    text-align: right;
    pointer-events: none;
    border: none;
}

.diskon {
    font-weight: 500;
    color: #1cc88a;
}

#total {
    font-weight: bold;
}

.disabled {
    pointer-events: none;
    cursor: default;
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
}


.disabled-cb {
    pointer-events: none;
    opacity: 0.5;
}

.active {
    background-color: #1d887e;

}

.jumbotron {
    font-family: 'Bebas Neue';
    font-weight: 400;
    background-color: #1d887e;
    color: white;
    position: relative;
    z-index: 9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 2);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 2);
}

.jumbotron h1 {
    font-size: 80px;
}


.basic-form {
    margin: 10px;
}

.basic-form input {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #E7E5F4;
    border-radius: 10px;
    padding: 13px 20px 13px 20px;
    height: 40px;
    font-size: 15px;
}

.basic-form input[type=checkbox] {
    transform: scale(0.4);
}

.basic-form .form-detail {
    margin-top: 3rem;
}


.bootstrap-select.btn-group .btn .caret {
    display: none;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.bootstrap-select {
    max-width: 100%;
}

.bootstrap-select .btn {
    display: block;
    width: 100%;
    border: 1px solid #E7E5F4;
    border-radius: 10px;
    padding: 12px 20px 12px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.bootstrap-select .dropdown-menu {
    margin: 15px 0 0;
    width: 100%;
}

select::-ms-expand {
    display: none;
}


.basic-form .checkbox .hides {
    display: none;
}

.button-close-modal {
    background-color: #1d887e;
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0 2px 2px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    height: 25px;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform, opacity;
}


/* CSS */
.button-rute {
    color: #fff;
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 500;
    height: 25px;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform, opacity;
}

.button-rute:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-61 {
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0 2px 2px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 500;
    height: 25px;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform, opacity;
}

.button-61:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.btn-rute:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

a:hover {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
    color: white;
}

.button-61:disabled {
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
}

.button-61:not(:disabled) {
    background-color: #1d887e;
}

.button-61:focus {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-61:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #A46BF5;
}

/* CSS */
.button-18 {
    font-family: 'Poppins';
    align-items: center;
    background-color: #1d887e;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}


.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}


.bootstrap-select.btn-group .btn .filter-option {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.btn-primary-discount:hover, .btn-primary1:hover {
    background-color: #1cc88a;
    color: white;
}

#alertDiskon, #diskonUnavailable {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;

}

#alertDiscount, #alertDiscount1 {
    max-width: 300px;
}

.btn-primary1 {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    min-height: 50px;
    background-color: #1d887e;
    border-color: #1d887e;
    color: white;
}
.btn-primary-discount {
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    min-height: 40px;
    background-color: #1d887e;
    border-color: #1d887e;
}


.btn-primary:hover {
    background-color: #1cc88a;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-top: -9px;
}

.ongkir {
    background-color: #d9edf7;
}

.ongkir1 {
    padding: 10px;
    background-color: #007bff;
    color: white;
}

.cli {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 15px;
    margin-left: 10px;
}

.cli1 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
    display: inline;
    font-size: 15px;
}

.cla {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-right: 10px;
    font-size: 15px;
}

.cla1 {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-right: 10px;
    padding-top: 6px;
    font-size: 15px;
}


.form-control:disabled,
.form-control[readonly] {
    font-size: 15px;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-top: -1px;
    border: 1px solid #636566;
    box-shadow: 0 0 3px 2px #0095ff;
    margin-left: -12px;
}

.checkbox label::before {
    border: 1px solid #0095ff;
    box-shadow: 0 0 3px 2px #0095ff;
}

.bootstrap-select .dropdown-menu li a {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: left;
}

body.modal-open {
    overflow: auto;
}

body .modal-dialog {
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

.modal-open .modal.modal-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center;

}




.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

.rute {
    z-index: -1;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-open .modal1 {
    z-index: 1500;
}

/*.modal.in {*/
/*    pointer-events: none;*/
/*}*/

/*.modal-content {*/
/*    pointer-events: all;*/
/*}*/

.box-sd {
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.modal-title {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.modal-header {
    background-color: #1d887e;
}

.modal-footer {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#my-div {
    background-color: #fff;
    width: 100%;

}

a.fill-div {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    padding-left: 23px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

a.fill-div:hover {
    color: black;
}

.note-modal {
    font-size: 11px;
    text-align: initial;

}

.hided {
    display: none;
}

.text-danger {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.info-success {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.container1 {
    background-color: #fff;
}



.info-success h2 {
    font-weight: bold;
}

/* svg success */
.container-svg {
    width: 300px;
    margin: 50px auto;
}


@keyframes success-tick {
    0% {
        stroke-dashoffset: 16px;
        opacity: 1
    }

    100% {
        stroke-dashoffset: 31px;
        opacity: 1
    }
}

@keyframes success-circle-outline {
    0% {
        stroke-dashoffset: 72px;
        opacity: 1
    }

    100% {
        stroke-dashoffset: 0px;
        opacity: 1
    }
}

@keyframes success-circle-fill {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.success-tick {
    fill: none;
    stroke-width: 1px;
    stroke: #ffffff;
    stroke-dasharray: 15px, 15px;
    stroke-dashoffset: -14px;
    animation: success-tick 450ms ease 1400ms forwards;
    opacity: 0;
}

.success-circle-outline {
    fill: none;
    stroke-width: 1px;
    stroke: #81c038;
    stroke-dasharray: 72px, 72px;
    stroke-dashoffset: 72px;
    animation: success-circle-outline 300ms ease-in-out 800ms forwards;
    opacity: 0;
}

.success-circle-fill {
    fill: #81c038;
    stroke: none;
    opacity: 0;
    animation: success-circle-fill 300ms ease-out 1100ms forwards;
}

/* Can't animate stroke-dashoffset on IE 10 and 11, just show svg instead */
/* @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      .success-tick {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: none;
        opacity: 1;
      }
  
      .success-circle-outline {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: none;
        opacity: 1;
      }
  
      .success-circle-fill {
        animation: none;
        opacity: 1;
      }
    } */




/* Desktop Device */
@media only screen and (min-width: 768px) {

    .svg-success {
        display: inline-block;
        vertical-align: top;
        height: 250px;
        width: 300px;
        opacity: 1;
        overflow: visible;
    }

    .bootstrap-select .dropdown-menu li a span.text {
        font-family: 'Poppins', sans-serif;
    }

    #map {
        height: 400px;
        width: 570px;
    }
}

/* Mobile Device */
@media (max-width: 576px) {
    .margin-padding {
        padding: 0;
        margin: 0px;
    }

    /*    .row {*/
    /*    margin-right: 0px;*/
    /*}*/

    .btn-primary {
        margin-left: 10px;
        margin-right: 10px;
    }

    .svg-success {
        display: inline-block;
        vertical-align: top;
        height: 200px;
        width: 300px;
        opacity: 1;
        overflow: visible;
    }

    .jumbotron h1 {
        font-size: 40px;
    }

    .bootstrap-select.btn-group .dropdown-menu li a {
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }

    #map {
        height: 400px;
        width: 340px;
    }

    /*}*/


}
