.navbar-brand {
    font-family: "Rubik", sans-serif;
    color: white;
}

.alert-weight {
    font-weight: 300;
}

.nav-link {
    font-family: "Rubik", sans-serif;
}

.rounded-circle {
    width: 55px;
}

.swal-title:not(:last-child) {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

.swal-text {
    font-family: "Rubik", sans-serif;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    font-family: "Rubik", sans-serif;
}

.hidden {
    display: none;
}

.badge-location {
    font-size: 15px;
    font-weight: 400;
}

.card-header {
    font-family: "Rubik", sans-serif;
    background-color: #1d887e;
    color: white;
}

.card-body {
    font-family: "Rubik", sans-serif;
}

#dropdownMenuLink {
    font-family: "Rubik", sans-serif;
    color: white;
    text-decoration: none;
}

.dropdown-item {
    font-family: "Rubik", sans-serif;
}

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: #1d887e;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.btn-primary {
    font-family: "Rubik", sans-serif !important;
    background-color: #1d887e !important;
}
